In [1]:
import networkx as nx
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("facebook_combined.txt", sep=" ")

In [3]:
df.head()

   0  1
0  0  2
1  0  3
2  0  4
3  0  5
4  0  6

In [6]:
G = nx.from_pandas_edgelist(df, source='0', target='1')

In [7]:
degree = nx.degree_centrality(G)
closeness = nx.closeness_centrality(G)
betweeens = nx.betweenness_centrality(G)

In [9]:
data = pd.DataFrame({"degree":[],"closeness":[],"betweeens":[],"influence":[]})

In [10]:
for d, c, b in zip(list(degree.values()),list(closeness.values()),list(betweeens.values())):
    included = [d,c,b, (d+c+b)/3]
    data.loc[len(data)] = included

In [11]:
data.head()

     degree  closeness     betweeens  influence
0  0.085686   0.353312  1.461432e-01   0.195047
1  0.002476   0.261241  7.595021e-08   0.087906
2  0.004210   0.261376  1.700964e-06   0.088529
3  0.002476   0.261241  1.840332e-07   0.087906
4  0.003219   0.261308  2.220416e-06   0.088177

In [12]:
data.to_csv("Data_Facebook.csv")